.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:hsl(234, 12%, 34%)

  }

    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color:hsl(234, 12%, 34%)

    }

body{
    background-color: white;
    font-size: 15px;

}

img{
    float: right;
}

.header{
    text-align: center;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 50px;
    color:hsl(234, 12%, 34%)
}

.section1{
    display: grid;
    grid-template-columns: repeat(3,0fr); /*3 equal columns*/
    grid-template-rows: 1fr; /*Unequal rows with different proportions*/
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;

}






.grid{
    
    border: white;
    border-style: solid;
    height: 200px;
    width: 300px;
    border-top-color:  blue;
    border-top-width: 5px;
    padding: 20px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 7px 16px 2px hsl(0deg 0% 89.76%); /* Horizontal, vertical, blur, spread, color */
}

.grid-combined
{
    grid-column: 2;
    grid-row: 1;
    width: 350px;
}
.grid1
{
    margin-top: 150px;
}
.grid2{
    margin-bottom: 30px;
}
.grid4{
    grid-column: 3;
    grid-row: 1; 
    margin-top: 150px;
}

@media (max-width: 600px) {
    .header {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 30px;
        color: hsl(234, 12%, 34%);
    }
    .section1 {
        grid-template-columns: 1fr; /* Stacks into 1 column on small screens */
        grid-template-rows: repeat(4, auto); /* Adjust rows for all grids */
        margin-left: auto;
        margin-right: auto;
        justify-items: center; /* Centers items horizontally */
    }
    .grid1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 0px;
    }
    .grid-combined {
        grid-column: 1;
        grid-row: 2;
    }
    .grid2 {
        grid-column: 1;
        grid-row: 3;
    }
    .grid3 {
        grid-column: 1;
        grid-row: 4;
    }
    .grid4 {
        grid-column: 1;
        grid-row: 5;
        margin-top: 0px;
    }
}
    
 /* End of media query */

